<div class="header">
  <div class="container-fluid relative">
    <div class="logo">
      <%= link_to(root_path) do %>
        <div class="brand">
          <%= image_tag('hyper_logo.svg', class: 'svg') %>
        </div>
      <% end %>
    </div>
    <div class="brand-description">
      <h3>Your upcoming meetings and reminders</h3>
    </div>
    <div class="filters">
      <%= content_tag :ul do %>
        <%= content_tag :li do %>
          <%= link_to('Home', root_path,
              class: "#{current_page?(root_path) ? 'active' : ''}")
          %>
        <% end %>
        <% if user_signed_in? %>
          <%= content_tag :li do %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
