<div class="header">
  <div class="container-fluid relative">
    <div class="logo">
      <%= link_to(root_path) do %>
        <div class="brand">
          <%= image_tag('hyper_logo.svg') %>
        </div>
      <% end %>
    </div>
    <div class="brand-description">
      <h3>Your upcoming meetings and reminders</h3>
    </div>
    <div class="filters">
      <%= content_tag :ul do %>
        <%= content_tag :li do %>
          <%= link_to('All', root_path,
              class: "#{current_page?(root_path) ? 'active' : ''}")
          %>
        <% end %>
        <%= content_tag :li do %>
          <%= link_to('Settings', settings_path,
            class: "#{current_page?(settings_path) ? 'active' : ''}")
          %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
